/* Fonts */

@font-face {
  font-weight: 800;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-display: swap;
  src: url(../fonts/sf-pro-display-heavy-webfont.woff2) format('woff2');
}

@font-face {
  font-weight: 700;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-display: swap;
  src: url(../fonts/sf-pro-display-bold-webfont.woff2) format('woff2');
}

@font-face {
  font-weight: 600;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-display: swap;
  src: url(../fonts/sf-pro-display-semibold-webfont.woff2) format('woff2');
}

@font-face {
  font-weight: 500;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-display: swap;
  src: url(../fonts/sf-pro-display-medium-webfont.woff2) format('woff2');
}

@font-face {
  font-weight: normal;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-display: swap;
  src: url(../fonts/sf-pro-display-regular-webfont.woff2) format('woff2');
}

