/* Article */

.article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: var(--gutter);
  row-gap: var(--gutter-sm);
}

/* Header */
.article__header {
  grid-column: 1 / 3;
}
@media screen and (max-width: 890px) {
  .article__header {
    grid-column: 1 / 4;
  }
}

@media screen and (max-width: 580px) {
  .article__header {
    grid-column: 1 / -1;
  }
}


.article__meta {
  display: flex;
  align-items: center;
  color: var(--text-light);
  font-size: 1em;
  margin-bottom: 15px;
}

.article__meta-sep {
  font-size: 12px;
  margin: 0 15px;
}

.article__title {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 15px;
}
@media screen and (max-width: 998px) {
  .article__title {
    font-size: 32px;
  }
}

.article__subtitle {
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 400;
}
@media screen and (max-width: 998px) {
  .article__subtitle {
    font-size: 20px;
  }
}

.article__img--thumb {
  grid-column: span 3;
  grid-row: span 2;
}
@media screen and (max-width: 890px) {
  .article__img--thumb {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media screen and (max-width: 580px) {
  .article__img--thumb {
    grid-column: 1 / -1;
    grid-row: span 2;
  }
}


/* Image */
.article__img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article__img--wide {
  grid-column: span 2;
}

.article__img--full {
  grid-column: 1 / -1;
}

.article__img--long {
  grid-row: span 4;
}
@media screen and (max-width: 890px) {
  .article__img--wide {
    grid-column: span 2;
  }
  .article__img--long {
    grid-row: span 2;
  }
}

@media screen and (max-width: 580px) {
  .article__img--wide{
    grid-column: 1 / -1;
  }
}

/* Text */
.article__text {
  grid-column: span 2;
  margin: 0;
}

.article__text--wide {
  grid-column: span 3;
}

@media screen and (max-width: 890px) {
  .article__text {
    grid-column: span 3;
  }
}

@media screen and (max-width: 580px) {
  .article__text {
    grid-column: 1 / -1;
  }
  .article__text--wide {
    grid-column: 1 / -1;
  }
}



/* Image-group */
.article__image-group {
  grid-column: span 3;
  grid-row: span 2;
  display: grid;
  column-gap: var(--gutter);
  row-gap: var(--gutter-sm);
  grid-template-columns: auto 1fr;
}
@media screen and (max-width: 890px) {
  .article__image-group {
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 580px) {
  .article__image-group {
    grid-template-columns: auto auto;
  }
}


/* Footer */
.article__footer {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.article__share {
  justify-self: start;
}

.article__authors {
  justify-self: end;
  text-align: right;
}

@media screen and (max-width: 680px) {
  .article__footer {
    grid-template-columns: 1fr;
  }
  
  .article__authors {
    grid-row: 1 / 1;
    margin-bottom: 15px;
    justify-self: start;
    text-align: left;
  }
}