/* Quote */

.quote {
  margin: 0;
  padding: 0 var(--gutter);
}

.quote__body {
  margin: 0;
  padding: 0;
  font-size: 26px;
  margin-bottom: 15px;
}

.quote__author {
  font-size: 20px;
}

@media screen and (max-width: 580px) {
  .quote {
    margin: 0;
    padding: 0 10px;
  }
}