/* Share */

.share {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.share__label {
  margin: 0 20px 0 0;
}

.share__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.share__item a:hover img {
  opacity: .8;
}

.share__item:not(:last-child) {
  margin-right: 20px;
}

.share__item img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: all .25s ease;
}