@mixin font-face($f-family, $f-src, $f-weight: normal, $f-style: normal, $asset-pipeline: false )
  @font-face
    font-display: swap
    font-family: $f-family
    font-weight: $f-weight
    font-style: $f-style
    @if $asset-pipeline == true
      src: font-url('#{$f-src}.eot')
      src: font-url('#{$f-src}.eot?#iefix') format('embedded-opentype'), font-url('#{$f-src}.woff') format('woff'),  font-url('#{$f-src}.ttf') format('truetype')
    @else
      src: url('#{$f-src}.eot')
      src: url('#{$f-src}.eot?#iefix') format('embedded-opentype'), url('#{$f-src}.woff') format('woff'),  url('#{$f-src}.ttf') format('truetype')

/* Fonts */

//OpenSans
+font-face("OpenSans", "../fonts/OpenSans/OpenSans-Light/OpenSans-Light", 300)
+font-face("OpenSans", "../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular")
+font-face("OpenSans", "../fonts/OpenSans/OpenSans-SemiBold/OpenSans-SemiBold", 600)
+font-face("OpenSans", "../fonts/OpenSans/OpenSans-Bold/OpenSans-Bold", 700)
+font-face("OpenSans", "../fonts/OpenSans/OpenSans-ExtraBold/OpenSans-ExtraBold", 800)
+font-face("OpenSans-Italic", "../fonts/OpenSans/OpenSans-Italic/OpenSans-Italic")