//Colors
$text-color: #161418
$theme-color: #fa7c30
$white: #fff
$black: #000

//Fonts
$default-font: OpenSans, Arial, sans-serif
$f-size: 14px

//Grid
$gutter: 30px  

/*Custom-grid*/
$container-size: 1140px
$container-padding: 15px