/* user avatar */

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid var(--white);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}