/* counter */

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: var(--black02);
  border: 1px solid var(--black01);
  height: 34px;
  padding: 0 15px;
  width: 100%;
  max-width: 125px;
}

.counter__input {
  width: 25px;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: auto;
  min-width: auto;
  background: none;
  border: none;
  padding: 0;
  text-align: center;
  font-size: 14px;
  line-height: 1.25;
  color: var(--gray-color01);
  outline: none;
}

.counter__button {
  position: relative;
  flex: 0 0 24px;
  width: 24px;
  height: 100%;
  border: none;
  padding: 0;
  background: none;
  text-align: center;
  transition: all .15s ease;
  cursor: pointer;
}

.counter__button:hover {
  opacity: .6;
}

.counter__button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  width: 14px;
}

.counter__dec::before {
  background-image: url(../img/icons/minus.svg);
  height: 2px;
}

.counter__inc::before {
  background-image: url(../img/icons/plus.svg);
  height: 14px;
}