/* logo */

.logo {
  display: inline-block;
  text-decoration: none;
}

.logo__img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1600px) {
  .logo {
    width: 118px;
  }
}

@media (max-width: 998px) {
  .logo {
    width: auto;
  }
}