//Colors

$white: #ffffff
$grey: #dadada
$black: #111111
$text-color: $white
$theme-color: #930B0F

//Fonts
$default-font: 'Montserrat', sans-serif
$accent-font: 'Bangers', sans-serif
$f-size: 18px

//Grid
$gutter: 20px  

// Bootstrap Custom-grid
$grid-gutter-width: 20px !default
$grid-columns: 24

// Custom-grid
// $container-size: 1190px
// $container-padding: 10px