//Colors
$text-color: #000000
$theme-color: #5fc2ed
$silver: #cfd5da

$white: #ffffff
$black: #000000

//Fonts
$default-font: 'Raleway', sans-serif
$f-size: 18px
$l-height: 1.3

//Grid
$gutter: 30px  

// Custom-grid
$container-size: 1320px
$container-padding: 15px


