/* header-search */

.header__search {
  width: 250px;
  margin-left: auto;
}

@media (max-width: 1368px) {
  .header__search {
    flex-shrink: 0;
    width: 300px;
  }
}

@media (max-width: 768px) {
  .header__search {
    order: -1;
    width: 100%;
  }
}
