/* header__bottom */

.header__bottom {
  position: relative;
  z-index: 2;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  background: var(--color-dark-grey);
  transition: all .3s ease;
}

@media (max-width: 1368px) {
  .header__bottom {
    gap: 30px;
    row-gap: 15px;
  }

  .header__bottom-callback {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__bottom {
    padding-top: 10px;
    padding-bottom: 20px;
    row-gap: 30px;
    background: var(--color-black);
  }
}



