/* Blog */

/* Blog Item */

.blog__item {
  margin-bottom: 26px;
}

/* Buttons */

.blog__buttons {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

