//Colors
$text-color: #000000
$theme-color: #00376b
$add-color: #bc0000

$radial: radial-gradient(50% 50% at 50% 50%, #0058C6 47.97%, #0C0E68 100%)

$white: #ffffff
$black: #000000

//Fonts
$default-font: Montserrat, sans-serif
$title-font: GoodVibesPro, sans-serif
$f-size: 20px
$l-height: 1.2

//Grid
// $gutter: 30px  

// Bootstrap Custom-grid
// $grid-gutter-width: 30px !default
// $grid-columns: 24

// Custom-grid
$container-size: 1200px
$container-padding: 15px

