/* Form */

.form {
  position: relative;
}

/* Form Input */

.form__input {
  max-width: 100%;
  width: 100%;
  display: block;
  background-color:var(--white);
  border: var(--border-width) solid var(--border-color);
  padding: 10px 40px 10px 20px;
  &::placeholder {
    color: #4F4F4F;
  }
}

