/* Prices */
.prices {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 10px;
}

.prices__item {
  font-weight: bold;
  white-space: nowrap;
  &--old {
    font-size: inherit;
    font-weight: normal;
    text-decoration: line-through;
    color: var(--grey);
  }
}