/* Box Sizing */

*, *:before, *:after {
  box-sizing: border-box;
}

/* Page */

.page {
  font-size: var(--txt-size); 
}

.page, .page__body {
  height: 100%;
}   

.page__body {
  position: relative;
  display: grid;
  grid-template-rows: max-content 1fr auto;
  // grid-template-rows: auto 1fr auto;
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 375px;
  font-family: var(--txt-font);
  color: var(--txt-color);
  font-size: var(--txt-size);
  line-height: var(--txt-lh);
  background: #000;
  overflow-x: hidden;
}

