/* Section */

.section:not(:first-child) {
  margin-top: var(--section-margin);
}

.section:last-child {
  margin-bottom: calc(var(--section-margin) / 2);
  @media screen and (max-width: 768px) {
    margin-bottom: var(--section-margin)
  }
}

/* Section Header */

.section__header {
  text-align: center;
  margin-bottom: 26px;
}


/* Section Title */

.section__title {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--theme-color);
  margin: 0;
}